.footer-container-wrapper {
    background-color: hubl("$dark");
    color: #fff;

    h1, h2, h3, h4, h5, h6, p, a, li, blockquote, span, em, strong, small {
        color: inherit;
    }

    a {
        &:hover {
            color: hubl("$first_color");
        }
        &:before {
            display: none;
        }
    }

    footer {
        padding: 70px 0 25px;

        h2,
        h4 {
            margin-top: 0;
        }
        h2 {
            font-weight: 400;
            line-height: 1;
            margin: 0 0 40px 0;
        }
        h4 {
            font-weight: 400;
            margin: 0 0 25px;
            font-size: rem(25);
            @media (max-width: 767px) {
                margin: 20px 0 10px;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            li {
                &:before {
                    display: none;
                }
            }
        }
        p,
        a {
            font-size: rem(18);
            line-height: 1.5;
        }
        p {
            margin: 0 0 5px 0;
        }
    }
    .footer {
        &--main-block {
            p {
                a {
                    color: #fff;
                    &:hover {
                        color: hubl("$first_color");
                    }
                }
            }
        }
        &--links-block {
            ul {
                display: flex;
                flex-direction: column;
                li {
                    margin-bottom: 5px;
                    a {
                        padding: 0;
                        color: #fff;
                        &:hover {
                            color: hubl("$first_color");
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &--bottom {
            @media (max-width: 767px) {
                >div>div {
                    display: flex;
                    justify-content: space-between;
                    >div {
                        width: 50%;
                    }
                }
            }
            @media (max-width: 500px) {
                >div>div {
                    flex-direction: column;
                    >div {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            margin-top: 30px;
            border-top: 1px solid #fff;
            padding: 25px 0 0 0;
            p {
                font-size: 16px;
                margin-top: 5px;
            }
        }
    }
}

.arrow-up-wrapper {
    position: fixed;
    bottom: 130px;
    right: 42px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    background-color: hubl("$secondary_text");
    opacity: 0;
    z-index: 3;
    border-radius: 50%;
    transition: bottom .5s ease, opacity .5s ease, background-color .5s ease, box-shadow .3s ease;
    &:hover {
        background-color: hubl("$first_color");
        box-shadow: 0px 5px 20px 8px rgba(0, 0, 0, 0.35);
        i {
            text-shadow: 0px -50px #fff, 0px 0px #fff;
        }
    }
    &.visible {
        opacity: .75;
    }
    i {
        position: relative;
        overflow: hidden;
        font-size: 9px;
        width: inherit;
        height: inherit;
        line-height: inherit;
        display: block;
        color: transparent;
        text-shadow: 0px 0px #fff, 0px 50px #fff;
        transition: text-shadow .3s ease;
        z-index: 1;
    }
    @media (min-width: 768px) {
        width: 62px;
        height: 62px;
        line-height: 62px;
        i {
            font-size: 12px;
        }
    }
    &.popup-fallback {
        z-index: 1;
    }
}

// LANDING 
.footer-container-wrapper {
    footer.landing {
        padding: 35px 0px 30px 0px;
        .footer--bottom {
            margin-top: 0px;
            border-top: none;
            padding: 0;
            p {
                margin: 0px;
            }
        }
    }
}