.overflow-hidden {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.header-container-wrapper {
    z-index: 4;
    &.popup-fallback {
        z-index: 2;
    }
}

body.same-logo {
    .header-transparent>div {
        background-color: #fff;
    }
    .body-container-wrapper {
        margin-top: 90px;
    }
}

header {
    >div {
        transition: all .3s ease-in-out;
        position: fixed;
        width: 100% !important;
    } // Header after scroll
    .header-white {
        background-color: hubl("$headerBG");
        box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, .25);
    }
    nav {
        height: 100%;
        background-color: transparent;
        .container {
            >div {
                height: 90px;
                display: flex !important;
                justify-content: space-between;
                align-items: center; // Logo
                >div {
                    &:nth-of-type(2) {
                        margin-left: auto;
                    }
                }
                .logo {
                    a {
                        &:before {
                            display: none;
                        }
                    }
                    img {
                        width: 150px !important;
                    }
                }

                // Modal
                >div {
                    &:last-child {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;
                        z-index: 2;
                        background: linear-gradient(57deg, hubl("$second_color") 20%, hubl("$first_color") 80%);
                        overflow-y: scroll;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.5s, visibility 0s 0.5s; // Open
                        &.open {
                            opacity: 1;
                            visibility: visible;
                            transition: opacity 0.5s;
                            .menu-modal {
                                >div {
                                    opacity: 1;
                                    transform: rotateX(0deg);
                                }
                            }
                        } // On close
                        &.close {
                            .menu-modal {
                                >div {
                                    transform: translateY(25%) rotateX(-35deg);
                                }
                            }
                        } // Modal window
                        .menu-modal {
                            height: 100%;
                            min-height: 100vh;
                            padding: 100px 0;
                            display: flex;
                            align-items: center; //justify-content: center;
                            >div {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center; //justify-content: space-around;
                                opacity: 0.4;
                                transform: translateY(-25%) rotateX(35deg);
                                transition: transform 0.5s, opacity 0.5s;
                            }
                        } // Logo
                        .widget-type-logo {
                            a {
                                &:before {
                                    display: none;
                                }
                            }
                            img {
                                width: 200px !important;
                            }
                        } // Menu 
                        .widget-type-menu {
                            padding: 100px 0 0;
                            ul {
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                li.hs-menu-item {
                                    a {
                                        font-size: rem(25);
                                        color: white;
                                        position: relative;
                                        &:before {
                                            display: none;
                                            content: '';
                                        }
                                    }
                                    &:before {
                                        display: none;
                                    }
                                    &.hs-item-has-children {
                                        >a {
                                            position: relative;
                                            &:after {
                                                position: absolute;
                                                content: '+';
                                                padding-left: 5px;
                                            }
                                        }
                                        .hs-menu-children-wrapper {
                                            display: none;
                                            position: static;
                                            opacity: 1;
                                            visibility: visible;
                                            overflow: hidden;
                                            .hs-menu-depth-2 {
                                                a {
                                                    font-size: rem(20);
                                                    font-weight: 200;
                                                }
                                            }
                                            .hs-menu-depth-3 {
                                                a {
                                                    font-size: rem(16);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

// HEADERY NOWE
header {

    .section-top {
        border-bottom: 1px solid #ebebeb;

        .container > .span12 > div > .row-fluid {
            display: flex;
            justify-content: space-between;

            &:before,
            &:after {
                content: none;
            }

            > div {
                width: auto !important;
                float: none !important;
                margin: 0 !important;
            }
        }

            @media (max-width: 849px) {
                margin-left: 0;
                width: 100%;
                float: none;
            }
        
    }
    &.header-scroll,
    &.permanent-white {
        >div {
            box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, .25);
        }
    }

    &.header-standard {
        .cta_button {
            padding-left: 30px;
            padding-right: 30px;
            min-width: 165px;
        }
        .section-main {
            >div>div {
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                min-height: 90px;
                &:before,
                &:after {
                    content: none;
                }
                >div {
                    width: auto;
                }
                .logo {
                    min-width: 120px;
                    max-width: 200px;
                    padding: 10px 0;
                    img {
                        max-height: 70px;
                        width: 100% !important;
                    }
                }
            }
        }
        a {
            &:hover {
                &:before {
                    display: none;
                }
            }
        }
        >div {
            background-color: hubl("$headerBG");
        }
        .header-main-content {
            >div {
                height: 100%;
                >div {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;
                }
            }
            .advanced-menu-header,
            .search-opt,
            .language-switcher,
            .cta-header {
                width: auto;
                margin: 0;
            }
            
            .cta-header {
                display: none;
                @media (min-width: 650px) {
                    display: block;
                }

                .hs-cta-wrapper {
                    padding-left: 30px;
                    @media (max-width: 450px) {
                        // margin-left: 15px;
                        padding-left: 15px;
                    }
                }
            }
            .lang-opts {
                position: relative;
                #lang-current {
                    font-weight: 600;
                    padding-left: 30px;
                    @media (max-width: 450px) {
                        // margin-left: 15px;
                        padding-left: 15px;
                    }
                }
                .lang_switcher_class {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    ul {
                        li {
                            &:before {
                                display: none;
                            }
                            a {
                                &:hover {
                                    color: hubl("$first_color");
                                }
                            }
                        }
                    }
                }
                .globe_class {
                    background: none;
                    width: 0;
                    height: 0;
                    .lang_list_class {
                        left: auto;
                        right: -30px;
                        transform: translate(0);
                    }
                }
                &:hover,
                &:active {
                    cursor: pointer;
                    .lang_list_class {
                        display: block;
                    }
                }
            }
            .advanced-menu-header {
                .hs-menu-wrapper {
                    a {
                        transition: inherit;
                    }
                    >ul {
                        display: flex;
                        li {
                            a {
                                color: hubl("$dark");
                                font-weight: 600;
                                &:hover {
                                    color: hubl("$first_color");
                                }
                            }
                            &.hs-menu-item {
                                &.hs-menu-depth-1 {
                                    >a {
                                        display: block;
                                        padding: 33px 15px;
                                    }
                                    .hs-menu-children-wrapper {
                                        box-shadow: 0px 5px 29.05px 5.95px rgba(0, 0, 0, 0.19), 0px 5px 9.9px 0.1px rgba(0, 0, 0, 0.19);
                                        background-color: #fff;
                                        border-radius: 6px;
                                        border-radius: 0px;
                                        padding: 20px 0;
                                        min-width: 260px;
                                    }
                                    >.hs-menu-children-wrapper {
                                        z-index: 1;
                                    }
                                }
                                &.hs-menu-depth-2 {
                                    a {
                                        width: 100%;
                                        padding: 10px 45px 10px 35px;
                                    }
                                    &.hs-item-has-children {
                                        position: relative;
                                        &:after {
                                            position: absolute;
                                            right: 30px;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            content: '+';
                                        }
                                    }
                                    >.hs-menu-children-wrapper {
                                        left: calc(100% + 15px) !important;
                                        top: -20px;
                                        &:before,
                                        &:after {
                                            position: absolute;
                                            content: '';
                                        }
                                        &:after {
                                            top: 36px;
                                            border-top: 7px solid transparent;
                                            border-bottom: 7px solid transparent;
                                            border-right: 10px solid #ffffff;
                                            left: -9px;
                                        }
                                        &:before {
                                            left: -15px;
                                            top: 0;
                                            background-color: transparent;
                                            width: 15px;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .slicknav_menu {
            display: none;
        }
        @media (max-width: 991px) {
            .advanced-menu-header {
                display: none;
            }
            .slicknav_menu {
                display: block;
                background-color: #fff;
                @media (max-width: 649px) {
                    margin-left: 15px;
                }
                @media (max-width: 450px) {
                    margin-left: 5px;
                }
                .slicknav_btn {
                    background-color: #fff;
                    margin-right: 0;
                    padding-right: 0;
                }
                .slicknav_icon-bar {
                    background-color: hubl("$dark");
                    width: 24px;
                    &:nth-of-type(2) {
                        width: 20px;
                        margin-left: 4px;
                    }
                }
                .mobile-menu--mask {
                    display: none;
                    position: fixed;
                    background-color: rgba(0, 0, 0, .4);
                    top: 0px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .slicknav_nav {
                    position: fixed;
                    z-index: 4;
                    overflow-y: scroll;
                    top: 0px;
                    left: 0;
                    height: 100%;
                    .slicknav_row {
                        &:hover {
                            color: inherit;
                            border-radius: 0px;
                            background-color: inherit;
                        }
                    }
                    &.preventDefault {
                        display: none!important;
                    }
                    a {
                        &:hover {
                            background-color: inherit;
                            color: inherit;
                        }
                    }
                    .hs-menu-wrapper {
                        >ul {
                            background-color: hubl("$dark");
                            min-height: 100vh;
                            position: relative;
                            padding-top: 50px;
                            padding-bottom: 20px;
                            .mobile-menu--exit {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                width: 30px;
                                height: 30px;
                                &:before {
                                    font-family: FontAwesome;
                                    color: rgba(#fff, .7);
                                    text-align: center;
                                    content: '\f00d';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: inherit;
                                    height: inherit;
                                }
                            }
                        }
                        .cta-element {
                            .cta-header {
                                margin-left: 0;
                                display: inline-block;
                                @media (min-width: 650px) {
                                    display: none
                                }
                                script {
                                    display: none;
                                }
                                .cta_button {
                                    text-align: center;
                                    display: inline-block;
                                    line-height: 30px;
                                    min-height: 0;
                                    &:hover {
                                        border-radius: 30px;
                                    }
                                }
                            }
                        }
                    }
                    li {
                        display: block;
                        float: none;
                        &:before {
                            display: none;
                        }
                        &.hs-menu-item {
                            >a {
                                margin: 0;
                                padding: 15px 25px;
                                position: relative;
                                display: block;
                                min-width: 260px;
                                white-space: normal;
                                line-height: 1;
                                >a {
                                    padding: 0;
                                    line-height: 1.5;
                                    white-space: normal;
                                }
                                .slicknav_arrow {
                                    position: absolute;
                                    margin: 0;
                                    right: 8px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: 24px;
                                    height: 24px;
                                    line-height: 24px;
                                    text-align: center;
                                }
                            }
                        }
                        &.hs-menu-depth-1 {
                            ul {
                                display: block;
                                position: relative;
                                li {
                                    &:first-of-type {
                                        a {
                                            padding-top: 10px;
                                        }
                                    }
                                    a {
                                        color: rgba(#fff, .7);
                                        padding-left: 35px;
                                    }
                                }
                            }
                        }
                        &.hs-menu-depth-2 {
                            ul {
                                li {
                                    &:first-of-type {
                                        a {
                                            padding-top: 10px;
                                        }
                                    }
                                    a {
                                        padding-left: 45px;
                                    }

                                }
                            }
                            >ul {
                                background: rgba(255,255,255, .03);
                                left: 0 !important;
                            }
                        }
                        &.hs-menu-depth-3 {
                            a {
                                padding-left: 25px !important;
                            }
                        }
                        &.slicknav_open {
                            ul {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    &--logo-only {

        .section-main > div > div {
            justify-content: center;
        }
    }
    }
}