body.turbo-mercuric, .turbo-mercuric {
    font-family: hubl("$font"), sans-serif;
    font-size: 16px;
}

body.turbo-mercuric {
	margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
	.turbo-mercuric {
		font-size: initial;
	}
}

.turbo-mercuric {
	@import "__globals.scss";
	@import "__typography.scss";
	@import "__icons.scss";
	@import "__buttons.scss";
	@import "__forms.scss";
	@import "__header.scss";
	@import "__footer.scss";
}