textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: hubl("$font");
    color: hubl("$second_font_color");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
strong,
em,
small,
blockquote,
div {
    margin: 0;
    padding: 0;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    font-weight: normal;
}

a {
    transition: .3s linear all;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: hubl("$main_font_color");

    span {
        color: hubl("$first_color");
    }
}


h1,
h2,
.h1,
.h2 {
    font-size: rem(52);

    @media (max-width: 580px) {
        font-size: rem(42);
    }
}

h3,
.h3 {
    font-size: rem(41);

    @media (max-width: 580px) {
        font-size: rem(30);
    }
}

h4,
.h4 {
    font-size: rem(30);

    @media (max-width: 580px) {
        font-size: rem(24);
    }
}

h5,
.h5 {
    font-size: rem(20);
    font-weight: normal;

    @media (max-width: 580px) {
        font-size: rem(18);
    }
}

p {
    font-size: rem(18);
    font-weight: 300;

    &.normal{
        font-size: rem(20);

        @media (max-width: 580px) {
            font-size: rem(18);
        }
    }

    &.big {
        font-size: rem(25);

        @media (max-width: 580px) {
            font-size: rem(22);
        }
    }
    &.subheading {
        font-size: rem(20);
        font-weight: 400;

        @media (max-width: 580px) {
            font-size: rem(18);
        }
    }
    &.regular {
        font-size: em(20);
        font-weight: 500;

        @media (max-width: 580px) {
            font-size: rem(18);
        }
    }

    @media (max-width: 580px) {
        font-size: rem(16);
    }
}

.normal{
    font-size: rem(20);

    @media (max-width: 580px) {
        font-size: rem(18);
    }

    p, span {
        font-size: inherit;
        font-weight: inherit;
    }
}

.big {
    font-size: rem(25);

    @media (max-width: 580px) {
        font-size: rem(22);
    }

    p, span {
        font-size: inherit;
        font-weight: inherit;
    }
}
.subheading {
    font-size: rem(20);
    font-weight: 400;

    @media (max-width: 580px) {
        font-size: rem(18);
    }

    p, span {
        font-size: inherit;
        font-weight: inherit;
    }
}

.regular {
    font-size: rem(20);
    font-weight: 500;

    @media (max-width: 580px) {
        font-size: rem(18);
    }

    p, span {
        font-size: inherit;
        font-weight: inherit;
    }
}


a {
    position: relative;
    display: inline-block;
    color: hubl("$cta_background");
    text-decoration: none;
    &:hover {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0px;
            border-bottom: 1px dashed hubl("$cta_background");
        }
    }
}

ul, ol {
    li {
        font-size: rem(18);
        font-weight: 300;

        p {
            margin-bottom: 0;
        }

        @media (max-width: 580px) {
            font-size: rem(16);
        }
    }
}

ul {
    list-style-type: none;
    li {
        position: relative;
        &:before {
            content: "•";
            position: absolute;
            left: 0;
            width: 10px;
            height: 15px;
            top: 3px;
            text-align: center;
            font-size: .7em;
            vertical-align: middle;
            color: hubl("$first_color");
        }
    }
}

ol {
    li {
        list-style-type: none;
        counter-increment: list;
        position: relative;
        &:before {
            position: absolute;
            left: 0;
            color: hubl("$first_color");
            content: counter(list) ".";
            display: inline-block;
            width: 1.2rem;
        }
    }
}

br {
    @media (max-width: 580px) {
        display: none;
    }
}

.hs_cos_wrapper_type_rich_text, .hs_cos_wrapper_type_inline_rich_text {
    color: hubl("$second_font_color");

    h1, h2, h3 {
        margin-bottom: rem(30);
    }

    h4 {
        margin-bottom: rem(25);
    }

    h5, h6, p {
        margin-bottom: rem(20);
    }

    ul, ol {
        h1, h2, h3, h4, h5, p, span, a, ul, ol {
            margin-bottom: 0;
        }
    }

    ul, ol {
            margin-top: rem(30);
            margin-bottom: rem(30);
        li {
            padding-left: 20px;
            margin-top: rem(20);
            margin-bottom: rem(20);
        }
    }
}

.color-white { 
    color: #fff;

    h1, h2, h3, h4, h5, h6, p, li, blockquote, span, em, strong, small {
        color: inherit;
    }

    li {
        &:before {
            color: #fff;
        }
    }

    .hs_cos_wrapper_type_rich_text, .hs_cos_wrapper_type_inline_rich_text {
        color: inherit;

        a:not(.cta_button) {
            color: inherit;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0px;
                border-bottom: 1px dashed #fff;
            }
        }
    }
}