$dev_version : true;

$variables : (
			"$font": "Nunito",
			"$first_color": #ed145b,
			"$second_color": rgb(242, 169, 57),
			"$secondary_text":#b7b7b7,
			"$outline_text":#f9f9f9,
			"$cta_background": #ed145b,
			"$cta_hover_background": #ffffff,
			"cta_hover_dark":#e41358,
			"$main_font_color": #171717,
			"$second_font_color": #b7b7b7,
			"$dark": #292935,
			"$lightGrey": #f1f1f1,
			"$headerBG": #fff
			);
				
// UZYTKOWANIE :  hubl("$nazwa_zmiennej")

$browser-context: 16; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}

@mixin placeholders($color) {
	::-webkit-input-placeholder {
		 color: $color;
 }
	::-moz-placeholder {
		 color: $color;
 }
	:-ms-input-placeholder {
		 color: $color;
 }
	:-moz-placeholder {
		 color: $color;
 }
}
@mixin makeTypoInColor($color){
	h1,h2,h3,h4,h5,h6,p,a,li,ul,blockquote {
		color: $color;
		span {
			color: inherit;	
		}
	}
}
