/* 
* $column = <integer>, $margin = <procent%>
*/

@mixin grid($column, $margin) {
  float: left;
  margin-right: $margin;
  margin-bottom: $margin;
  width: ((100% - (($column - 1) * $margin)) / $column);

  &:nth-child(#{$column}n) {
    margin-right: 0;
  }
}